<?xml version="1.0" encoding="utf-8"?>
<!--
  SicMu Player - Lightweight music player for Android
  Copyright (C) 2015  Mathieu Souchaud

  This program is free software: you can redistribute it and/or modify
  it under the terms of the GNU General Public License as published by
  the Free Software Foundation, either version 3 of the License, or
  (at your option) any later version.

  This program is distributed in the hope that it will be useful,
  but WITHOUT ANY WARRANTY; without even the implied warranty of
  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  GNU General Public License for more details.

  You should have received a copy of the GNU General Public License
  along with this program.  If not, see <http://www.gnu.org/licenses/>.
-->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="souch.smp" >
    <uses-sdk android:minSdkVersion="10"  android:targetSdkVersion="10" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <!-- useful at least from android 5.0, not useful for 2.3, 4.1, 4.3
    todo: see if it can be adaptable for each android version
    -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/Theme.AppTheme" >

        <activity
            android:name=".Main"
            android:label="SicMu Player"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver android:name=".MediaButtonIntentReceiver">
            <intent-filter>
                <action android:name="android.intent.action.MEDIA_BUTTON" />
                <action android:name="android.media.AUDIO_BECOMING_NOISY" />
            </intent-filter>
        </receiver>

        <service android:name=".MusicService" />

        <activity
            android:name=".Settings"
            android:label="@string/settings_title"
            android:theme="@style/PreferenceTheme"
            android:parentActivityName=".Main" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="souch.smp.Main" />
        </activity>

    </application>

</manifest>
